//COlors
$color-primary-light: #fdcfdf;
$color-primary-medium:#fbbedf;
$color-primary-Dark:#fca3cc;

$color-secundary-light: #c3a3fd;
$color-secundary-medium: #ac88f0;
$color-secundary-Dark: #926dd6;

$color-terciary-light: #ADFFFF;
$color-terciary-medium:#5CFFFF;
$color-terciary-Dark:#00F5F5;

$color-gray:#777;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2:#eee;

$color-white:#fff;
$color-black:#000;

// Fonts//
$default-font-size:1.6rem;

//Grids//
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal:6rem;